/* Navbar */

/* Responsive */
/* Desktop */
@media(min-width: 992px){
    .navbar{
        margin-top: 10px !important;
    }
    .navbar-brand img{
        width: 15vw !important;
        margin-left: 13vh !important;
    }
    .navbar-nav{
        margin-right: 10vh !important;
    }
    .nav-link{
        font-size: 16px !important;
        margin-left: 10px !important;
    }
    .latar{
        display: block !important;
    }
    .social{
        margin-top: -60vh !important;
        margin-left: 20vh !important;
    }
    .item1{
        margin-left: -10vw !important;
    }
    .item2{
        margin-left: -20vw !important;
    }
    .content h1{
        font-size: 43px !important;
    }
    .content p{
        width: 70vh !important;
        font-size: 16px !important;
    }
    .services{
        margin-top: 50vh !important;
    }
    .services h5{
        font-size: 18px !important;
    }
    .services h3{
        font-size: 36px !important;
    }
    .services p{
        font-size: 14px !important;
        width: 20% !important;
        text-align: center !important;
        margin-left: 64vh !important;
    }
    .services1{
        margin-top: 100px;
        margin-left: 18vw;
    }
    .serve p, .serve1 p, .serve2 p{
        font-size: 14px;
     
    }
    .serve h4, .serve1 h4, .serve2 h4{
        font-size: 18px;
    }
    .serve:hover, .serve1:hover, .serve2:hover{
        box-shadow: 0 0 15px 0 #9d8323b4;
        transition: box-shadow 1s ease-out;
    }
    .serve, .serve1, .serve2{
        width: 20vw;
        height: 30vh;
        margin: 0 5px;
    }
    .experience{
        margin-top: 40vh;
    }
    .experience h5{
        font-size: 18px;
    }
    .experience h3{
        font-size: 36px;
    }
    .experience p{
        font-size: 14px;
        width: 20%;
        text-align: center;
        margin-left: 64vh;
    }
}

/* Handphone */
@media(max-width: 575px){
    .navbar-brand img{
        width: 30vw;
    }
    .nav-link{
        font-size: 14px;
    }
    .latar img{
        display: none;
    }
    .social{
        margin-top: 50vh;
    }
    .content h1{
        font-size: 23px;
    }
    .content p{
        width: 50vh;
        padding: 0 10px;
        font-size: 14px;
    }
    .services{
        margin-top: 20vh;
    }
    .services h5{
        font-size: 16px;
    }
    .services h3{
        font-size: 26px;
    }
    .services p{
        font-size: 12px;
        width: 50%;
        text-align: center;
        margin-left: 12vh;
    }
    .services1{
        margin-top: 80px;
        margin-left: 12vw;
    }
    .serve p, .serve1 p, .serve2 p{
        font-size: 14px;
        width: 100%;
    }
    .serve h4, .serve1 h4, .serve2 h4{
        font-size: 18px;
    }
    .serve, .serve1, .serve2{
        width: 70vw;
        height: 34vh;
        margin: 5px 0px;
    }
    .experience{
        margin-top: 20vh;
    }
    .experience h5{
        font-size: 16px;
    }
    .experience h3{
        font-size: 26px;
    }
    .experience p{
        font-size: 12px;
        width: 50%;
        text-align: center;
        margin-left: 12vh;
    }
}